<div class="container d-flex flex-column align-items-center justify-content-center">
    <p class="text-danger">{{loginError}}</p>
    <form [formGroup]="loginForm" class="w-100" style="max-width: 400px;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input formControlName="correo" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input formControlName="contrasena" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        </div>
        <div class="d-flex justify-content-between w-100 gap-2">
            <button type="submit" (click)="login()" class="btn btn-primary flex-grow-1">Ingresar</button>
            <button type="submit" (click)="registrar()" class="btn btn-primary flex-grow-1">Registrarse</button>
        </div>

    </form>
</div>