<div class="container">
    <p class="text-danger">{{loginError}}</p>
    <form [formGroup]="loginForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input formControlName="correo" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input formControlName="contrasena" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary">Ingresar</button>
    </form>
</div>