<div class="container text-center p-3">
    <h3>Registro de cliente</h3>
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="col">
                <label class="form-label">Nombres completos</label>
                <input formControlName="nombreCliente" type="text" class="form-control form-control-sm">
            </div>
            <div class="col">
                <label class="form-label">Apellidos completos</label>
                <input formControlName="apellidoCleinte" type="text" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Número de identificación</label>
                <input formControlName="ccCliente" type="text" class="form-control form-control-sm">
            </div>
            <div class="col">
                <label class="form-label">Dirección de residencia</label>
                <input formControlName="direccionCliente" type="text" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Correo electrónico</label>
                <input formControlName="emailCliente" type="text" class="form-control form-control-sm">
            </div>
            <div class="col">
                <label class="form-label">Contraseña</label>
                <input formControlName="passCliente" type="password" class="form-control form-control-sm">
            </div>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <button type="button" click="register()" class="btn btn-primary mx-2">Registrarse</button>
            <button type="button" class="btn btn-primary mx-2">Cancelar</button>
        </div>
    </form>
</div>