<p>dashboard works!</p>
<p *ngIf="!usuarioLogueado">Usuario autenticado</p>
<p *ngIf="usuarioLogueado">Usuario No Autenticado</p>


<div *ngIf="usuarioLogueado">
    <p>Nombre: {{data?.nombre}}</p>
    <p>Apellido: {{data?.apellido}}</p>
    <p>Email: {{data?.correo}}</p>
    <p>Mensaje: {{data?.mensaje}}</p>
</div>

<!-- <p *ngIf="!userLoginOn" class="alert alert-danger">Usuario NO autenticado</p>
<p *ngIf="userLoginOn" class="alert alert-success">Usuario Autenticado</p> -->

<div class="card ">
    <div class="card-header">
        Datos
    </div>
    <div class="card-body m-0">
        Datos
    </div>

</div>
<div class="card">
    <div class="card-header">
        Datos
    </div>
    <div class="card-body m-0">

    </div>
</div>
<div class="card">
    <div class="card-header">
        Datos
    </div>
    <div class="card-body m-0">

    </div>

</div>

<div class="card">
    <div class="card-header">
        Experiencia Laboral
    </div>
    <div class="card-body m-0">

    </div>
</div>